.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:30px;
    padding-right: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1;
    background-color: #333; 

}
.inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.inner-container li {
    list-style: none;
    padding: 8px 16px; 

}

li a {
    text-decoration: none;
    color: white;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
/* Header.css */
.search {
    display: flex;
    gap: 8px;
    align-items: center;
}

.search input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.search button {
    padding: 8px 12px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.search button:hover {
    background-color: #0056b3;
}

/* Style pour les liens actifs */
.inner-container li a.active {
    font-weight: bold;
    color: #007bff;
}